Flask==2.0.3
Telethon==1.24.0
APScheduler==3.11.0
attrs==24.2.0
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi==2024.7.4
cryptography==44.0.0
fake-useragent==1.5.1
Faker==28.0.0
google-api-python-client==2.157.0
httplib2==0.22.0
httpx==0.23.3
idna==3.8
nest-asyncio==1.6.0
openai==1.55.0
packaging==24.1
protobuf==5.29.3
pydantic==2.10.1
python-dotenv==1.0.1
requests==2.32.3
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.2
websocket-client==1.8.0
Werkzeug==2.0.3
